$colors: (
  common: (
    "white": #FFFFFF,
    "black": #000000,
    "placeholder": #767676,
    "selection": #3C66FA,
  ),
  color: (
    "white_smoke" : #F5F5F5,
    "white_smoke-2" : #F4F4F5,
    "white_smoke-3" : #F2F2F2,
    "white_smoke-4" : #F8F8F8,
    "white_smoke-5" : #EEEEEE,
  ),
  body: (
    "bg": #192929,
    "primary": #17191C,
    "primary-1": #131F1F,
    
    "primary-3": #2E2828,
    "primary-4": #010101,
    "primary-5": #13161C,
  ),
  theme: (
    "primary": #F4D39A, 
    "primary-2": #015941, 
    "primary-3": #C2F380, 

  ),
  heading: (
    "primary": #192929, 
  ),
  text: (
    "body": #192929,
    "body-2": #020D0A,
  ),
  menu: (
    "white": #FFFFFF,
  )
);