@use '../../utils' as *;

/*----------------------------------------*/
/*  6.4 footer-copyright
/*----------------------------------------*/

// copyright 1
.copyright {
    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 15px;
        padding: 34.5px 0;

        @media #{$sm,$xs} {
            justify-content: center;
        }

        @media #{$xs} {
            padding: 20px 0;
        }
    }

    &__text {
        p {
            color: rgba(25, 41, 41, 0.7);

            @media #{$xs} {
                text-align: center;
            }

            a:hover {
                color: var(--rr-theme-primary-2);
            }
        }
    }
}

// copyright-2
.copyright-2 {
    &__area {
        padding: 21.5px 0;
        background-color: var(--rr-theme-primary-3);
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media #{$md,$sm,$xs} {
            gap: 15px;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
    }

    &__menu {
        ul {
            list-style: none;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                margin-right: 23px;
                padding-right: 28px;
                position: relative;
                display: inline-block;
                color: rgba(25, 41, 41, 0.7);
                transition: all 0.3s ease-in-out;

                @media #{$xs} {
                    margin-right: 0px;
                    padding-right: 0px;
                }

                a:hover {
                    color: var(--rr-heading-primary);
                }

                &::before {
                    content: "";
                    width: 1px;
                    height: 24px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    background-color: rgba(25, 41, 41, 0.2);

                    @media #{$xs} {
                        display: none;
                    }
                }

                &:last-of-type {
                    margin-right: 0;
                    padding-right: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    &__text {
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            color: rgba(25, 41, 41, 0.7);

            a:hover {
                color: var(--rr-heading-primary);
            }
        }
    }
}

// copyright-3
.copyright-3 {
    &__wrap {
        display: flex;
        padding: 19px 44px;
        align-items: center;
        margin-bottom: 30px;
        border-radius: 500px;
        justify-content: space-between;
        background: rgba(255, 255, 255, 0.1);

        @media #{$sm,$xs} {
            gap: 15px;
            flex-wrap: wrap;
            border-radius: 30px;
            padding: 19px 10px;
            justify-content: center;
        }
    }

    &__menu {
        ul {
            list-style: none;

            li {
                font-weight: 300;
                font-size: 18px;
                line-height: 1;
                color: rgba(255, 255, 255, 0.7);

                a:hover {
                    color: var(--rr-theme-primary);
                }
            }
        }
    }

    &__text {
        p {
            font-weight: 300;
            font-size: 18px;
            line-height: 1;
            color: rgba(255, 255, 255, 0.7);

            @media #{$xs} {
                line-height: 1.2;
                text-align: center;
            }

            a:hover {
                color: var(--rr-theme-primary);
            }
        }
    }
}

// copyright-4
.copyright-4 {
    &__area {
        padding: 22.5px 0;
        border-top: 1.5px solid rgb(255 255 255 / 8%);
    }

    &__text {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media #{$xs} {
            justify-content: center;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.04em;
            color: rgba(255, 255, 255, 0.7);

            @media #{$xs} {
                text-align: center;
            }

            a:hover {
                color: var(--rr-theme-primary-3);
            }
        }
    }

    &__social {
        ul {
            gap: 26px;
            display: flex;
            list-style: none;
            align-items: center;

            li {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                display: inline-block;
                letter-spacing: 0.04em;
                color: var(--rr-common-white);

                a:hover {
                    color: var(--rr-theme-primary-3);
                }
            }
        }
    }
}

// copyright-5
.copyright-5 {
    &__area {
        border-top: 1.5px solid rgb(255 255 255 / 9%);
    }

    &__text {
        gap: 15px;
        display: flex;
        padding: 26px 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media #{$sm,$xs} {
            gap: 8px;
            padding: 10px 0;
            flex-wrap: wrap;
            justify-content: center;
        }

        a,
        button {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: rgba(255, 255, 255, 0.7);
        }
    }

    &__menu {
        gap: 179px;
        display: flex;
        align-items: center;

        @media #{$md,$sm,$xs} {
            gap: 30px;
        }

        @media #{$xs} {
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
        }

        ul {
            gap: 90px;
            display: flex;
            list-style: none;
            align-items: center;

            @media #{$md,$sm,$xs} {
                gap: 30px;
                flex-wrap: wrap;
            }

            @media #{$xs} {
                gap: 15px;
                justify-content: center;
            }

            li {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 28px;
                    color: rgba(255, 255, 255, 0.7);

                    &:hover {
                        color: var(--rr-theme-primary);
                    }
                }
            }
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: var(--rr-common-white);

            a:hover {
                color: var(--rr-theme-primary);
            }
        }
    }
}